{
  "tabWidth": 2,
  "printWidth": 92,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "endOfLine": "auto",
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
